---
import LibraryIcon from "../icons/Library.astro"
import HomeIcon from "../icons/Home.astro"
import SearchIcon from "../icons/Search.astro"
import SideMenuItem from "./SideMenuItem.astro"
import SideMenuCard from "./SideMenuCard.astro"

import { playlists } from "../lib/data"
import { playlistTusMeGusta } from "../lib/data"
---

<nav class="flex flex-col flex-1 gap-2">
  <div class="bg-[#121212] rounded-lg p-2">
    <ul>
      <SideMenuItem href="/">
        <HomeIcon />
        Home
      </SideMenuItem>

      <SideMenuItem href="/#">
        <SearchIcon />
        Search
      </SideMenuItem>
    </ul>
  </div>

  <div class="bg-[#121212] rounded-lg p-2 flex-1">
    <ul class="h-full">
      <SideMenuItem href="">
        <LibraryIcon />
        Tu biblioteca
      </SideMenuItem>
      
      
      <div class="overflow-y-scroll h-80">
        <SideMenuCard playlist={playlistTusMeGusta[0]} />
        {
          playlists.map(playlist => (
            <SideMenuCard playlist={playlist} />
            
            ))
          }
      </div>

    </ul>
   
  </div>
</nav>

